@using Capstone.Web.Models;
@model List<Survey>
@{
    ViewBag.Title = "Favorites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Favorite Parks</h2>

@*<div class="row">*@
@foreach (var p in Model)
{
    <div class="row">

        <div class="col-sm-3">
            <a href="@Url.Action("Detail", "Home", new {parkID = p.ParkCode})">
                <img class="img-responsive" src="@Url.Content("~/Content/img/" + p.ParkCode +".jpg" )" />
            </a>
        </div>
        <div class="col-sm-9">
            <p class="vertical"><strong>@p.ParkName</strong> has a total of @p.Total survey(s)</p>
        </div>
    </div>
    <hr />
}
@*</div>*@