@using Capstone.Web.Models;
@model List<Park>
@{
    ViewBag.Title = "Home";
}

<h2 style="text-align:center">National Parks</h2>

@foreach (var p in Model)
{

    <div>
        <p class="text-center"><strong>@p.ParkName</strong></p>
        <p>
            <a href="@Url.Action("Detail", "Home", new {parkID = p.ParkCode})">
                <img class="small-image" src="@Url.Content("~/Content/img/" + p.ParkCode +".jpg" )" />
            </a>
        </p>
        
        <p>
            @p.Description
        </p>
        <hr />
    </div>


}

